n8n_workflow_example.json
{
  "name": "Seek Job Scraper Integration",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "name": "Schedule - Daily 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://your-api-server:8000/api/v1/scrape",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "headless",
              "value": true
            },
            {
              "name": "max_pages",
              "value": 5
            },
            {
              "name": "webhook_url",
              "value": "={{$node[\"Webhook\"].json[\"webhookUrl\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Trigger Scraping",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "seek-jobs-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [650, 300],
      "webhookId": "seek-jobs-results"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"event\"]}}",
              "operation": "equals",
              "value2": "scrape.completed"
            }
          ]
        }
      },
      "name": "Check If Completed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "event",
              "value": "={{$json[\"event\"]}}"
            },
            {
              "name": "jobs_found",
              "value": "={{$json[\"data\"][\"jobs_found\"]}}"
            },
            {
              "name": "jobs_new",
              "value": "={{$json[\"data\"][\"jobs_new\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Extract Job Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "functionCode": "// Process each job from the webhook\nconst jobs = $input.item.json.data.jobs;\n\nconst output = [];\n\nfor (const job of jobs) {\n  output.push({\n    json: {\n      title: job.title,\n      company: job.company,\n      location: job.location,\n      salary: job.salary,\n      job_url: job.job_url,\n      posted_date: job.posted_date,\n      scraped_at: job.scraped_at\n    }\n  });\n}\n\nreturn output;"
      },
      "name": "Process Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "your-google-sheet-id",
          "mode": "list",
          "cachedResultName": "Job Listings"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{$json[\"title\"]}}",
            "company": "={{$json[\"company\"]}}",
            "location": "={{$json[\"location\"]}}",
            "salary": "={{$json[\"salary\"]}}",
            "job_url": "={{$json[\"job_url\"]}}",
            "posted_date": "={{$json[\"posted_date\"]}}",
            "scraped_at": "={{$json[\"scraped_at\"]}}"
          }
        },
        "options": {}
      },
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "channel": "job-alerts",
        "text": "=🎯 New HR Jobs Found!\n\n📊 Total Found: {{$node[\"Extract Job Data\"].json[\"jobs_found\"]}}\n✨ New Jobs: {{$node[\"Extract Job Data\"].json[\"jobs_new\"]}}\n\nCheck the Google Sheet for details!",
        "otherOptions": {}
      },
      "name": "Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1450, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Jobs processed\" } }}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 300]
    }
  ],
  "connections": {
    "Schedule - Daily 9 AM": {
      "main": [
        [
          {
            "node": "Trigger Scraping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Check If Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Completed": {
      "main": [
        [
          {
            "node": "Extract Job Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job Data": {
      "main": [
        [
          {
            "node": "Process Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Jobs": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Google Sheets": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Notification": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
